<div class="container">
    <div title="Default three column layout" class="row show-grid">
        <center><div class="span-one-third">
          <%=link_to 'Nyt Møde', new_meeting_path, :class =>'btn large primary'%><br/> <br/> <br/> <br/>
        </div></center>
        <center><div class="span-one-third">
          <%=link_to 'Nyt Agenda', new_agenda_path, :class =>'btn large primary'%>
        </div></center>
        <center><div class="span-one-third">
          <%=link_to 'Tilføj Deltagere', new_deltagere_path, :class =>'btn large primary'%>
        </div></center>

        <center><img src='meeting.jpeg' style="width:900px; height: 500px; border: solid black 1px;;" /></center>
    </div>
</div>